@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

.home__hero-section {
    color: #3a3a3a;
    padding: 130px 0;
    overflow-x: hidden;
    background-color:#F5F0EC;
}

.home__hero-row {
    align-items: center;

}

.row {
    display: flex;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    flex-wrap: wrap;
    align-content: stretch;

}

.col {
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    flex: 1;
    max-width: 50%;
    /* flex-basis: 50%; */
}

.home__hero-logoBg {
    
    opacity: 0.05;
    max-width: 25%;
    position: absolute;
    top: 120px;
    left: 0;
    z-index:1;

    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    -o-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}


.home__hero-text-wrapper {
    max-width: 5440px;
    padding-top: 0;
    padding-bottom: 60px;
    padding-left: 4rem;
    z-index: 9999;
    opacity: 0;
    animation: fadeLeft 0.7s linear forwards;
    animation-delay: .7s;
}

@keyframes fadeLeft{
    0%{
        transform: translateX(-50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.heading {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    font-size: 4rem;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
    opacity: 0.87;
}

.dark {
    color: #3a3a3a;
}

.orange{
    color: #FF6B21;
}

.blue{
    color: #677982;
}

.darkBg {
    background-color: #677982;
}

.blackBg {
    background-color: #3a3a3a;
}

.whiteBg {
    background-color: #ffffff;
}
.home__hero-subtitle {
    max-width: 450px;
    margin-bottom: 35px;
    font-size: 1.3rem;
    line-height: 2rem;
    color: #3a3a3a;
    opacity: 0.87;
}


/* --------------------------ACA ABAJO---------------------- */

.home__hero-img {
    max-width: 65%;
    padding-right: 0;
    margin: 0 0 0 10px;
    position: absolute;
    top: 80px;
    right: 0;
    opacity: 0;
    animation: fadeRight 0.7s linear forwards;
    animation-delay: .7s;
}

@keyframes fadeRight{
    0%{
        transform: translateX(50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline;
}

@media screen and (max-width: 1084px){
    .home__hero-text-wrapper{
        padding-left: 1rem;
        max-width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }

    .home__hero-logoBg{
        max-width: 35%;
    }

    .home__hero-text-wrapper{
        padding-left: 0;
        max-width: 100%;
    }

    .home__hero-subtitle{
        max-width: 600px;
    }

    .home__hero-img{
        visibility: hidden;
    }

    .col{
        max-width: 100%;
        flex-basis: 100%;
    }
}

@media screen and (max-width: 768px) {
    .home__hero-section{
        padding: 100px 0 ;
    }

    .heading{
        font-size: 3.2rem;
    }

    .home__hero-subtitle{
        font-size: 1.2rem;
    }

    .home__hero-logoBg{
        max-width: 45%;
    }

    .home__hero-text-wrapper {
        padding-bottom: 65px;
    }


    .home__hero-img{
        visibility: hidden;
    }
}

@media screen and (max-width: 640px){
    .home__hero-logoBg{
        max-width: 60%;
    }

    .container{
        padding: 0 0.5rem 0 0.5rem;
    }
}